/* Container for the event listing page */
.event-listing-page {
    text-align: center; 
    padding: 20px; 
  }
  
  /* Grid layout for event cards */
  .event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px; 
    padding: 100px 30px; 
  
  }
  
  /* Individual event card styles */
  .event-card {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    transition: transform 0.3s, box-shadow 0.3s; 
    cursor: pointer;
  }
  
  /* Hover effect for event cards */
  .event-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  /* Event card image styling */
  .event-card img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
  }
  
  /* Event card title styles */
  .event-card h3 {
    font-size: 20px;
    margin: 10px 0; 
  }
  
  /* Event card date and location styles */
  .event-card p {
    color: #555; 
    font-size: 14px; 
  }
  
  /* Modal backdrop styles */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content styles */
  .modal-content {
    background: white; 
    padding: 20px; 
    border-radius: 5px;
    position: relative;
  }
  
  /* Close button styles */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
  }

/* Loading state styling */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-size: 24px; 
  color: #333; 
  font-family: var(--site-font); 
}

/*Spinner styles */
.loading::after {
  content: '';
  border: 8px solid rgba(0, 0, 0, 0.1); 
  border-left-color: #333; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  animation: spin 1s linear infinite; 
  margin-left: 10px; 
}

/* Spinner animation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

  